{% load i18n %}
<script type="text/javascript">//<![CDATA[
(function ($) {
    var template_resources = [{% for template in templates %}
        "{{ template|escapejs }}"{% if not forloop.last %},{% endif %}
    {% endfor %}];
    var media_resources = [];

    var updateMonitorListing = function () {
        var typed_resources = [];
        $.each(template_resources, function (i, src) {
            typed_resources.push({
                type: 'template',
                src: src
            });
        });

        var table = $('#djDebugAutoreloadPanel table.monitor tbody');

        var addResource = function (i, resource) {
            var monitor = true;
            var row = $(
                '<tr class="djDebug' + ((i+1) % 2 == 0 ? 'Even' : 'Odd') + '">' +
                    '<td><input type="checkbox" ' + (monitor ? 'checked ' : '') + 'disabled /></td>' +
                    '<td>' + resource.type + '</td>' +
                    '<td><code>' + resource.src + '</code></td>' +
                '</tr>');
            table.append(row);
        };

        $.each(typed_resources, addResource);
        $.each(findMediaResources(), addResource);
    };

    var findMediaResources = function () {
        var resources = [].concat(media_resources);
        /* Find CSS files */
        $('link[rel=stylesheet]').each(function () {
            var url = $(this).attr('href');
            if (!url.match(/^data:/)) {
                resources.push({
                    type: 'css',
                    src: $(this).attr('href')
                });
            }
        });
        /* Find JS files */
        $('script[src]').each(function () {
            var url = $(this).attr('src');
            if (!url.match(/^data:/)) {
                resources.push({
                    type: 'js',
                    src: $(this).attr('src')
                });
            }
        });
        return resources;
    };

    var reload = function () {
        window.location.reload(true);
    };
    var listenForChanges = function () {
        var data = [];
        $.each(template_resources, function (i, resource) {
            data.push('template=' + encodeURIComponent(resource));
        });
        $.each(findMediaResources(), function (i, resource) {
            data.push('media=' + encodeURIComponent(resource.src));
        });
        data = data.join('&');
        $.ajax({
            url: "{{ AUTORELOAD_URL|escapejs }}",
            type: 'POST',
            data: data,
            success: function (data, textStatus, jqXHR) {
                switch (jqXHR.status) {
                    case 200:
                        reload();
                        break;
                    case 0:
                    case 204:
                        setTimeout(listenForChanges, 500);
                        break;
                    default:
                        console.log('unhandled status code', jqXHR.status);
                        break;
                }
            },
            error: function () {
                console.log('ERROR', arguments);
                setTimeout(listenForChanges, 3000);
            }
        });
    };

    $(document).ready(function () {
        $('.djdt-reload').click(reload);
        listenForChanges();
        updateMonitorListing(template_resources);
    });
})(djdt.jQuery);
//]]></script>

<p>Auto-reloading is activated.</p>
<button class="djdt-reload">Reload page</button>

<h2>Monitoring:</h2>
<table class="monitor">
    <thead>
        <th>Monitor</th>
        <th>Type</th>
        <th>Filename</th>
    </thead>
    <tbody>
    
    </tbody>
</table>
